
.tmc_profile_info_area_profile{
    margin: 5% 15%;
}
.tmc_profile_patient_form_icon{
    width: 60px;
    height: 60px;
}
.tmc_profile_rounded_element{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.tmc_profile_margin_bottom_ed_element{
    margin-bottom: 2%;
}