.loginrow{
    margin-top: 15%;
}
.form{
    background-color:#f8f9fa!important ;
    border-radius: 12px;
    padding: 3%;
}

.tmc_login_logo{
    width: 50px;
    height: 50px;
    margin-right: 5%;
}