.tmc_nav_user_icon{
    width: 30px;
}
.tmc_nav_user_name{
    margin: 0 0;
}
.tmc_nav_logo{
    width: 150px;
}
.tmc_nav_navbar_nav{
    margin: 0;
}
#navbarSupportedContent{
    margin-left: 25%;
    margin-right: auto;
}